.terraform/
*.terraform.lock.hcl


*.tfstate
*.tfstate.backup
*.tfstate.*.backup

*.tfvars

test_ssh
test_ssh.pub

proxmox_vm_template/*.tfstate
proxmox_vm_template/*.tfstate.backup
proxmox_vm_template/*.tfstate.*.backup
proxmox_vm_template/*.tfvars
proxmox_vm_template/.terraform.lock.hcl
proxmox_vm_template/.terraform/

vm_cloudinit/*.tfstate
vm_cloudinit/*.tfstate.backup
vm_cloudinit/*.tfstate.*.backup
vm_cloudinit/*.tfvars
vm_cloudinit/.terraform.lock.hcl
vm_cloudinit/.terraform/
vm_cloudinit/jammy-server-cloudimg-amd64.img
vm_cloudinit/keys
